
footer
    div.container-fuild.text-white
        div.row.mx-3
            div.col
                div.row
                    p For more information Email:eventsplanner@gmail.com
            div.col
                div.row
                    p Follow us 
      
        div.row.justify-content-center
            p &copy; 2019 EPA
            