nav.navbar.navbar-fixed-top.navbar-expand-lg.navbar-light.pinch
    a.navbar-brand.text-white(href="../home") EPA
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarNavDropdown
        ul.navbar-nav
            li.nav-item.active
                a.nav-link.text-white(href="../home") Home
                    span.sr-only(current)
            
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle#navbarDropdown.text-white(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Products
                div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                    a.dropdown-item.text-secondary(href="../vendor-profile") Vendor
                    a.dropdown-item.text-secondary(href="../guest") Guest List
                    a.dropdown-item.text-secondary(href="../collaboration") Collaboration
            li.nav-item
                a.nav-link.text-white(href="../register")
                    i.fas.fa-user  Register
            li.nav-item
                a.nav-link.text-white(href="../login")
                    i.fas.fa-sign-in-alt  Login
        

