extends layout
block content
      div.container#pics
          div.picBox#wed
            label Wedding
          div.picBox#grad
            label Graduation
          div.picBox#birthday
            label Birthday
      div.about
        label ABOUT US
        p Customize Your Checklist: To get a highly customized checklist based on your wedding date and location. Say “goodbye” to your heavy wedding binder!
        p Find Vendors: You can always find available local vendors with a clear pricing. Stop having 30+ messages/calls to different vendors and wait for their availability and pricing.
        p Organize & Track:How about your song list? How much is the first deposit? You can jot down any free thoughts whenever you like.
        p Collaborate with Loved Ones:Wedding should be more FUN! Invite your partner, bridesmaids, best men, families, along with your vendors, to make your wedding dreams real together!
        p Monitor Contributions: You can easily keep track of contributions from family and friends