doctype html
html(lang="en")
    head
        title EPA
        
        style
          include ../public/css/bootstrap.min.css
          include ../public/fontawesome/css/all.css
          include ../public/customcss/navbar.css
          include ../public/customcss/footer.css
          include ../public/customcss/styles.css
       
    body
      include includes/header.pug
      
      block content
      //- br
      //- include includes/footer.pug

      

      script
        include ../public/js/bootstrap.min.js
