extends layout

block content 
  
    div.row.justify-content-center#bg
        div.col-md-6
            div.card.my-4
                header.card-header
                    h4.card-title Login
                article.card-body
                    form(method='POST' action='/login')
                    div.form-group
                        div.col.form-group
                            label(for='name') User Name
                            input.form-control(type='text' id='username'  name='username')
                    div.form-group
                        div.col.form-group
                            label(for='password') Password
                            input.form-control(type='password' id='password' placeholder='password' name='password')
                    div.form-group
                        .col.form-group
                            label Category
                            select.form-control(name="category")
                                option(value="Planner") Planner
                                option(value="Vendor") Vendor
                    div.form-group
                        div.col.form-group
                            button.btn.btn-primary(type='submit') Log in 
