extends layout
block content
    div.container(style="padding-bottom:100px;")
        div.row
            div.d-flex.align-items-center
            div.col-sm-3.picBox.grad
                label Graduation
            div.col-sm-6(align="left")
                h2 Hello Astra!
        div.row.justify-items-center
            h1.row.col-sm-12#time Vendors
        table.table
        thread.thread-dark
            tr
                th username
                th category
                th phoneNumber
        tbody
            each user in users
                tr
                    td #{user.username}
                    td #{user.category}
                    td #{user.phoneNumber}
                    td
                        form
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete
