extends layout

block content

    <br>

    .container
        .row
            .col-sm.text-center
                h1#page-heading Vendors
        br

        #vendor-categories
            .row
                .col-sm
                    a(href="#")
                        <div class="vendors" id="venues" style="background-image: url('https://images.unsplash.com/photo-1469371670807-013ccf25f16a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");'></div>
                    b Venues
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://images.unsplash.com/photo-1525844767700-c64349d96399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')"></div>
                    b Decor
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://images.unsplash.com/photo-1523294587484-bae6cc870010?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=864&q=80');"></div>
                    b Bakery
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://images.unsplash.com/photo-1487163731010-29462200612c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80');"></div>
                    b Dress store

            br
            br

            .row
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://images.unsplash.com/photo-1521590832167-7bcbfaa6381f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');"></div>
                    b Beauty Salon
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://images.unsplash.com/photo-1562887245-f2d5024f6134?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80');"></div>
                    b Makeup Artist
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://images.unsplash.com/photo-1471341971476-ae15ff5dd4ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80');"></div>
                    b Photography & Video
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://images.unsplash.com/photo-1472458176790-9acc869d03da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');"></div>
                    b Care Hire

            br
            br

            .row
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://images.unsplash.com/photo-1513279922550-250c2129b13a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');"></div>
                    b Honeymoon Destinations
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://images.unsplash.com/photo-1558478551-08d1b7078b94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');"></div>
                    b Wedding Planners
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://images.unsplash.com/photo-1547180915-1656cf7ca4bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80');"></div>
                    b Tent
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://images.unsplash.com/photo-1523145149804-5d8e0c044753?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');"></div>
                    b Catering

        <!-- The vendors in a particular categories -->
        #the-vendors
            //- h5
            //-     b
            //-         <a href="vendors.html">Venues</a>
            .row
                .col-sm.text-center
                    h1 Vendors (venues)
            br
            .row
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://scontent.febb1-1.fna.fbcdn.net/v/t1.0-9/11230914_590196597788934_3411820730573453405_n.jpg?_nc_cat=103&_nc_oc=AQkstKwEx6mxM1W4BX5jMdOsE1WrzG_viYkq-yzwm7yDgQUd_kiowiGM8bYH2rU3wxQ&_nc_ht=scontent.febb1-1.fna&oh=55a488fc5a99aea7fc17516702c74dfa&oe=5E4C4864');"></div>
                    b Paradiso Restaurant
                    ul
                        li Muyenga, Tankhill Rd
                        li Book <b><i>1 week before</i></b> event
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://silverspringshotelug.com/wp-content/uploads/2018/10/43534395_2170233026344190_158932769412481024_o.jpg')"></div>
                    b Silver Springs
                    ul
                        li Bugolobi
                        li Book <b><i>2 weeks before</i></b> event
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('https://www.serenahotels.com/d/serenakampala/images/serenaExperienceImage.jpg');"></div>
                    b Serena Hotel
                    ul
                        li Nakasero
                        li Book <b><i>3 months before</i></b> event
                .col-sm
                    a(href="#")
                        <div class="vendors" style="background-image: url('http://theacaciamall.com/sites/default/files/styles/large/public/206_1.jpg?itok=DI65mGBb');"></div>
                    b Acacia Mall
                    ul
                        li Kamwokya
                        li Book <b><i>1 month before</i></b> event
            br
            br

